*,
html {
    margin: 0;
    padding: 0;
}



.nav-container {
    background-color: #333;
    width: 100%;
    height: 20vh;
}

.ul-nav {
    height: 100px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.li-nav {
    list-style-type: none;
    padding: 20px;
    margin: 5px;
    color: aliceblue;
    font-size: 20px;
}

.li-nav :hover {
    background-color: dodgerblue;
    transition: .5s ease-in-out;
    transition-delay: .3s;
    border-radius: 8px;
}

.a-nav {
    color: aliceblue;
    text-decoration: none;
}

.div-con {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.img-con {
   width: 30%;
   height: 30%;
}

.a-content {
    background-color:#333;
    color: aliceblue;
    width: 494px;
    height: 506px;
    text-decoration: none;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 80px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.div-footer {
    height: 10vh;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teks-footer {
    color: #333;
    font-size: 50px;
    font-style: italic;
}